.fade-in-section {
    width: 100%;
    max-width: 750px;

    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}