@import "@fontsource/dm-sans";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #F9F7EBFF;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}